# default: detached 모드 실행, 컨테이너 종료 시 자동 삭제, 같은 compose 내의 컨테이너들은 공통 network를 사용하도록 설정

version: '3.8'

services:
  mongodb:
    image: 'mongo'
    volumes:
      - data:/data/db
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: yun
    #   MONGO_INITDB_ROOT_PASSWORD: secret
    #   - MONGODB_USERNAME=yun
    env_file:
      - ./env/mongo.env
  backend:
    build: ./backend
    # build:
    #   context: ./backend
    #   dockerfile: Dockerfile
    #   args:
    #   some-arg: 1
    ports:
      - '80:80'
    volumes:
      # 명명된 볼륨(named volume)
      - logs:/app/logs
      # 바인드 마운트(bind mount)
      - ./backend:/app
      # 익명 볼륨(anonymous volume)
      - /app/node_modules
    env_file:
      - ./env/backend.env
    depends_on:
      - mongodb
  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    volumes:
      - ./frontend/src:/app/src
    stdin_open: true
    tty: true
    depends_on:
      - backend

volumes:
  data:
  logs:
